@import '../../constants/variables.scss';

.labeled-point {
  display: flex;
  align-items: center;

  &_type_small {
    gap: 7px;
  }

  &_type_medium {
    gap: 16px;
  }

  &_type_large {
    gap: 12px;
  }

  &__figure-square {
    &_color_purple {
      fill: $color-main-purple;
    }

    &_color_green {
      fill: $color-line-green;
    }

    &_color_orange {
      fill: $color-background-orange;
    }

    &_color_light-red {
      fill: $color-background-light-red;
    }

    &_color_medium-gray {
      fill: $color-line-medium-gray;
    }
  }

  &__labels-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_type_large {
      gap: 3px;
    }
  }

  &__figure-line {
    stroke-linecap: round;

    &_color_light-gray {
      stroke: $color-line-light-gray;
    }

    &_color_medium-gray {
      stroke: $color-line-medium-gray;
    }

    &_color_dark-gray {
      stroke: $color-line-dark-gray;
    }

    &_color_light-red {
      stroke: $color-background-light-red;
    }

    &_color_purple {
      stroke: $color-main-purple;
    }

    &_color_orange {
      stroke: $color-background-orange;
    }
  }
}
