@keyframes anim-x-translate-small {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes anim-x-translate-medium {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}
