@import './variables.scss';

@mixin clear-margin-padding {
  margin: 0;
  padding: 0;
}

// Links

@mixin link-hover {
  transition: $link-hover-transition;

  &:hover {
    opacity: $link-hover-opacity;
  }
}

// Typography

@mixin main-link-typography {
  font-family: $font-main;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

@mixin aside-link-typography {
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375;
}

@mixin accent-title-typography {
  font-family: $font-accent;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}

@mixin main-subtitle-typography {
  color: $color-dark-gray;
  font-family: $font-second;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
