@import './variables.scss';

@mixin clear-margin-padding {
  margin: 0;
  padding: 0;
}

// Lists

@mixin clear-list-style {
  @include clear-margin-padding;
  list-style-type: none;
}

// Links

@mixin link-hover {
  transition: $link-hover-transition;

  &:hover {
    opacity: $link-hover-opacity;
  }
}

// Typography

@mixin main-text-typography {
  font-family: $font-main;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

@mixin secondary-text-typography {
  font-family: $font-second;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

@mixin accent-title-typography {
  font-family: $font-accent;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
}

@mixin main-subtitle-typography {
  color: $color-dark-gray;
  font-family: $font-second;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

// Popups

@mixin popup-closed-state {
  visibility: hidden;
  opacity: 0;
  transition: $visibility-transition;
}

@mixin popup-opened-state {
  visibility: visible;
  opacity: 1;
  transition: $visibility-opened-transition;
}
