// Text Colors

$color-dark-gray: #5f6b77;
$color-main-white: #ffffff;
$color-blue-gray: #8b9fcc;
$color-dark-purple: #08123a;
$color-second-purple: #506ccf;
$color-medium-gray: #b4b7cd;

// Container Colors

$color-gradient-purple: linear-gradient(45deg, #506ccf 0%, #3453c2 100%);
$color-gradient-white: linear-gradient(to top, #ffffff 2%, #ffffff28 100%);
$color-background-gray: #f5f9ff;
$color-background-orange: #ffc86f;
$color-line-green: #5dcab2;
$color-line-light-gray: #f3f5f8;
$color-line-medium-gray: #d6e0f3;
$color-line-dark-gray: #9faabe;

// Buttons Colors

$color-main-purple: #506bcf;
$color-main-blue: #49a1f1;
$color-light-gray: #e9eaf0;

// Fonts

$font-main: 'SF Pro Text', Arial, sans-serif;
$font-second: 'Inter', Arial, sans-serif;
$font-accent: 'SF Pro Display', Arial, sans-serif;

// Links

$link-hover-opacity: 0.7;
$link-hover-transition: 0.3s ease;

// Popups

$visibility-transition:
  visibility 0s linear 0.3s,
  opacity 0.3s;

$visibility-opened-transition:
  visibility 0s linear 0s,
  opacity 0.3s;

$color-background-padding: #1721445d;
