@import '../../constants/variables.scss';
@import '../../constants/mixines.scss';

.burger-button {
  @include link-hover;
  width: 44px;
  height: 44px;
  padding: 3px 0 0;
  border: 0;
  cursor: pointer;
  display: none;

  background: transparent;
}

@media screen and (max-width: 1023px) {
  .burger-button {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .burger-button {
    width: 37px;
    height: 43px;
    padding: 3px 2px 0 0;
  }
}
