@import '../../constants/variables.scss';
@import '../../constants/mixines.scss';

.header {
  min-height: 44px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav-list {
    @include clear-margin-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    &_type_main {
      padding-top: 1px;
      gap: 35.1px;
    }

    &_type_aside {
      gap: 15px;
    }
  }

  &__link {
    @include link-hover;
    text-decoration: none;

    &_type_language {
      @include main-link-typography;
      line-height: 1.25;
      color: $color-blue-gray;
    }
  }

  &__nav-link {
    @include link-hover;
    text-decoration: none;

    &_type_main {
      @include main-link-typography;
      line-height: 1.25;

      &:link,
      &:visited {
        color: $color-dark-gray;
      }
    }

    &_type_aside {
      @include aside-link-typography;

      &:link,
      &:visited {
        color: $color-main-white;
      }
    }
  }
}
